<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Fire TV / Android TV: App soll auch OHNE Touchscreen und OHNE klassisches
         Leanback-Interface (wir bauen ein eigenes, aber D-Pad-faehiges UI) startbar sein -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:name=".StreamApp"
        android:allowBackup="true"
        android:label="Stream Center"
        android:banner="@drawable/tv_banner"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.StreamCenter"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Damit die App auf dem Fire TV Cube im Apps-Grid erscheint -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SetupActivity"
            android:exported="false" />

        <activity
            android:name=".TelegramLoginActivity"
            android:exported="false" />

        <activity
            android:name=".ChannelSelectionActivity"
            android:exported="false" />

        <activity
            android:name=".PlayerActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.StreamCenter.Player" />

    </application>
</manifest>
